.hero h1{
    font-size: 2.5rem;
    color: blue;
    text-align: center;
}
.hero{
    width: 100vw;
    height: auto;
    padding-top: 10%;
}
.hero .svg{
    display: grid;
    place-items: center;
}
.hero .svg svg{
    background-color: blue;
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 50%;
}
.hero p{
    color: #333;
    font-size: 1.5rem;
    margin: 0 20%;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.1rem;
}
.buttons a{
    color: white;
    background-color: blue;
    width: 125px;
    padding: 10px 15px;
    padding-right: 10px;
    border-radius: 20px;
    margin: 10px 20px;
}
.buttons a:hover{
    background-color: darkblue;
    transition: 0.3s;
    transform: scale(1.1);
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
    /* padding: 4% 3%; */
}
.cards{
    width: 400px;
    height: 250px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
}
.cards h2{
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    color: blue;
}
.cards p{
    padding: 10px;
    font-size: 1.2rem;
    color: #333;
}
.cards-container :hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.working{
    text-align: center;
    font-size: 1.5rem;
    color: blue;
}
.working-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    place-items: center;
}
.working-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.working-card h1{
    color: white;
    background-color: blue;
    padding: 2% 4%;
    border-radius: 50%;
    text-align: center;
}
.working-card p{
    color: #333;
    font-size: 1.2rem;
    text-align: center;
}
.upload-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.upload-container{
    width: 80%;
    height: 200px;
    border: 1px solid #ccc;
}
@media (max-width: 630px) {
    .hero{
        padding-top: 25%;
    }
    .hero_resume{
        padding-top: 20%;
    }
}
.hero_resume{
    width: 100vw;
    height: auto;
}
.hero_resume h1{
    font-size: 2.5rem;
    color: blue;
    text-align: center;
}
.hero_resume p{
    color: #333;
    font-size: 1.5rem;
    margin: 0 20%;
    text-align: center;
}
.upload-container{
    width: 80%;
    height: auto;
    padding: 2%;
    border: 1px solid #ccc;
}
.upload-container input{
    margin: 400px;
    outline: none;
    padding: 10px;
    font-size: 1.2rem;
}
.upload-button{
    color: black;
    padding: 10px 20px;
    background-color: transparent;
    width: 100%;
    border: 5px dashed #ccc;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5%;
}
.upload-text{
    border: 2px solid blue;
    color: white;
    width: 20%;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: blue;
    font-weight: bold;
}
.upload-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.upload-info p{
    color: #333;
    font-size: 1.0rem;
    margin: 10px 0;
}