.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.logo h1 {
    margin-left: 10px;
    font-size: 20px;
    color: blue;
}
ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    float: right;
    justify-content: flex-end;
}
ul li{
    margin: 0 15px;
    font-size: 16px;
    color: blue;
}
ul li a{
    text-decoration: none;
    color: blue;
}
nav{
    display: flex;
    width: 100vw;
    border-bottom: 0.5px solid white;
    position: fixed;
    top: 0;
    background-color: white;
}